<?xml version="1.0" encoding="UTF-8"?>
<!-- ========================================================== -->
<Context>
<!-- ========================================================== -->
	<Resource name="jdbc/bulb"
		auth="Container"
		type="javax.sql.DataSource"
		driverClassName="org.sqlite.JDBC"
		url="jdbc:sqlite:${catalina.home}/webapps/bulb/WEB-INF/classes/bulb.db"
		factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory">
	</Resource>
<!-- ========================================================== -->
</Context>
