body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
thead, tfoot {
	font-weight: bold;
	}
/* --------------  */
/* -- menu --  */
details {
	border: 1px solid #767676;
	border-radius: 3px;
	display: inline-flex;
	flex-direction: column;
	padding: 3px 6px;
	}
details summary::marker {
	display: none;
	font-size: 0;
	}
details summary::-webkit-details-marker {
	display: none;
	font-size: 0;
	}
details summary::after {
	content: "\25BC" / "";
	display: inline-block;
	font-size: 0.6rem;
	height: 1rem;
	line-height: 1rem;
	margin-left: 0.5rem;
	position: relative;
	transition: transform 0.25s;
	}
details[open] summary {
	margin-bottom: 1rem;
	}
details[open] summary::after {
	top: -0.15rem;
	transform: rotate(180deg);
	}
menu {
	display: flex;
	font-size: 0.6rem;
	border: 0;
	padding: 0;
	width: 100%;
	height: 86px;
	overflow-y: scroll;
	}
/* --------------  */
/* -- on hour blue box --  */
.textNormal {
	stroke: black !important;
	}

.textHighlight {
	stroke: white !important;
	}

.rectNormal {
	fill: transparent !important;
	stroke: transparent !important;
	}

.rectHighlight {
	fill: blue !important;
	stroke: blue !important;
	}
/* --------------  */
/* -- all/clear checkbox --  */
.checker:active {
	opacity: 0.5;
	}
/* --------------  */
/* -- bird line highlight --  */
.dataLine:hover {
	filter: invert(100%);
	}
/* -- heard data --  */
#popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    }
/* --------------  */
